@import "./terminal.css";
@import "./vars.css";

@font-face {
    font-family: "DeterminationMono";
    src: url("/public/static/fonts/DeterminationMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "DeterminationMono";
    font-size: 30px;
    font-weight: bold;
}

html {
    background-color: var(--background);
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden; /* Hide overflow */

    background-color: var(--background);
    color: #c66e03;
}
