#promt {
    width: 96%;
    background-color: var(--background);
    border: none;
    border-color: none;
    border-width: 0px;
    color: var(--main);
    caret-color: var(--main);
    font-family: "DeterminationMono";
    font-size: 30px;
}

#promt:focus {
    outline: none;
}

#terminal {
    padding: 1rem;
    filter: blur(0.7px);
}

#crt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    mix-blend-mode: screen;
}

pre {
    color: var(--main);
    caret-color: var(--main);
    font-family: "DeterminationMono";
    font-size: 30px;
    margin: 0.2rem 0rem 0.2rem 0rem;
}
